erwda
= render :partial =>  '/courier_transit'
= render :partial => '/fedex_transit'

-@next = @product_instance.next_record()
=debug @next
%div{:id=>'history'}
  -@history.each do |r|
    %p{:id=>'record-'+r.id}
      =r.product_id
      =link_to 'Destroy', admin_records_path+'/'+r.id,
                  :confirm => 'Are you sure?', :method => :delete, 'data-action'=>'destroy'

